 @model WebExercise.Models.Role

@{
    ViewData["Title"] = "Chỉnh sửa quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<form asp-action="Edit" asp-route-id="@Model.RoleId" method="post">
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Role Name" asp-for="RoleName">
        </div>
        <div class="col-7">
            <input type="text" class="form-control" placeholder="Mô tả" asp-for="Description">
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
        </div>
    </div>
</form>

